/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #0e2b38;
}

.container {
    width: 42em;
    margin: 0 auto;
    clear: both;
}

.map-container {
    width: 100%;
    position: relative;
}

.map-container #venue-map {
    width: 100%;
    height: 500px;
}

#venue-container {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 42em;
}

#venue-float {
    position: absolute;
    top: 2.5em;
    right: 1em;
    color: #fff;
    background-color: #29abe2;
    padding: 2em 1.4em 1em 1.4em;
}

#venue-float img {
    width: 14em;
    max-width: 14em;
}

#venue-float h2,
#venue-float h3 {
    color: #fff;
}


.container .column {
    display: inline-block;
    vertical-align: top;
    width: 20em;
}

.container .column:nth-of-type(1) {
    margin-right: 1.5em;
}


.sponsor-list {
    margin-bottom: 2em;
}

.sponsor-list:after {
    clear: both;
}

.sponsor-list .sponsor {
    display: inline-block;
    vertical-align: top;
    width: 12em;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

.sponsor-list .sponsor:nth-of-type(0) {
    margin-right: 0em;
}

.sponsor-list .sponsor a,
.sponsor-list .sponsor a:hover {
    border: none;
    text-decoration: none;
}

a {
    color: #29abe2;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #29abe2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "alternate-gothic-no-2-d";
    font-weight: bold;
    color: #29abe2;
}

p, ul, ol, blockquote {
    margin-bottom: 1em;
}

p.centered {
    text-align: center;
}

ul.dates {
    margin: 0;
    list-style: none;
}

ul.dates li {
    padding-bottom: 0.8em;
}


header {
    background-color: #29abe2;
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;
}

header h1 {
    font-size: 7.6em;
    padding-top: 0em;
    padding-bottom: 0.5em;
}

header h1 img {
    display: block;
    border: none;
    width: 320px;
    text-align: center;
    margin: 0 auto 0.5em auto;
    background: #fff;
}

header h1 a {
    color: #0e2b38;
    text-decoration: none;
}

header .meta {
    font-family: "alternate-gothic-no-2-d", sans-serif;
    display: block;
    color: #fff;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.2em;
}

nav.main {
    font-family: "alternate-gothic-no-2-d", sans-serif;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}

nav.main ul li {
    display: inline-block;
    font-size: 2em;
    padding: 0;
}

nav.main ul li::before {
    content: "-";
    padding-left: 0.3em;
    padding-right: 0.3em;
}

nav.main ul li:first-child:before {
    content: "";
}



footer {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

section {
    margin-top: 4em;
    margin-bottom: 4em;
}

section h2 {
    font-size: 2.4em;
    margin-bottom: 1em;
}

section h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #0e2b38;
}

.venue-zwijger {
    width: 100%;
    border-radius: 0.25em;
}
.sponsor img {
    width: 100%;
}

.btn {
  color: #ffffff;
  font-size: 15px;
  background: #29abe2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  border-radius: 0.25em;
  border: 0;
}

.btn:hover {
  background: #0e2b38;
  text-decoration: none;
  border: 0;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    display: inline;
    width: 100%;
}

.cf input {
    height: 2em;
    width: 78%;
    font-size: 1.4em;
    padding: 0.2em 0.5em;
}

.cf button {
    height: 2em;
    width: 20%;
    font-size: 1.3em;
}

