/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #0e2b38;
}

.container {
    width: 42em;
    margin: 0 auto;
    clear: both;
}

.container .column {
    display: inline-block;
    vertical-align: top;
    width: 20em;
}

.container .column:nth-of-type(1) {
    margin-right: 1.5em;
}


a {
    color: #29abe2;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #29abe2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "alternate-gothic-no-2-d";
    font-weight: bold;
    color: #29abe2;
}

p, ul, ol, blockquote {
    margin-bottom: 1em;
}

ul.dates {
    margin: 0;
    list-style: none;
}

ul.dates li {
    padding-bottom: 0.8em;
}


header {
    background-color: #29abe2;
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;
}

header h1 {
    font-size: 7.6em;
    padding-top: 0em;
    padding-bottom: 0.5em;
}

header h1 img {
    display: block;
    border: none;
    width: 320px;
    text-align: center;
    margin: 0 auto 0.5em auto;
    background: #fff;
}

header h1 a {
    color: #0e2b38;
    text-decoration: none;
}

header .meta {
    font-family: "alternate-gothic-no-2-d", sans-serif;
    display: block;
    color: #fff;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.2em;
}

nav.main {
    font-family: "alternate-gothic-no-2-d", sans-serif;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}

nav.main ul li {
    display: inline-block;
    font-size: 2em;
    padding: 0;
}

nav.main ul li::before {
    content: "-";
    padding-left: 0.3em;
    padding-right: 0.3em;
}

nav.main ul li:first-child:before {
    content: "";
}



footer {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

section {
    margin-top: 4em;
    margin-bottom: 4em;
}

section h2 {
    font-size: 2.4em;
    margin-bottom: 1em;
}

.venue-zwijger {
    width: 100%;
    border-radius: 0.25em;
}
.sponsor img {
    width: 200px;
}

.btn {
  color: #ffffff;
  font-size: 15px;
  background: #29abe2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  border-radius: 0.25em;
}

.btn:hover {
  background: #0e2b38;
  text-decoration: none;
  border: 0;
}
