/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700);

/* Reset */

html {
  color: #000;
  background: #FFF
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
fieldset, img {
  border: 0
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal
}

ol, ul {
  list-style: none
}
caption, th {
  text-align: left
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal
}
q:before, q:after {
  content: ''
}
abbr, acronym {
  border: 0;
  font-variant: normal
}
sup {
  vertical-align: text-top
}
sub {
  vertical-align: text-bottom
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 100%
}
legend {
  color: #000
}
#yui3-css-stamp.cssreset {
  display: none
}
body {
  font-family: 'Exo 2', "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #0e2b38;
}
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}
input, button {
  font-family: 'Exo 2', "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.container {
  width: 42em;
  margin: 0 auto;
  clear: both;
}
.map-container {
  width: 100%;
  position: relative;
}
.map-container #venue-map {
  width: 100%;
  height: 500px;
}
#venue-container {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 42em;
}
#venue-float {
  position: absolute;
  top: 2.5em;
  right: 1em;
  color: #fff;
  background-color: #29abe2;
  padding: 2em 1.4em 1em 1.4em;
}
#venue-float img {
  width: 14em;
}
#venue-float h2, #venue-float h3 {
  color: #fff;
}
#venue-float a {
  color: #fff !important;
}
.container .column {
  display: inline-block;
  vertical-align: top;
  width: 20em;
}
.container .column:nth-of-type(1) {
  margin-right: 1.5em;
}
.sponsor-list {
  margin-bottom: 2em;
}
.sponsor-list:after {
  clear: both;
}
.sponsor-list .sponsor {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}
.sponsor-list .sponsor:nth-of-type(0) {
  margin-right: 0em;
}
.sponsor-list .sponsor a, .sponsor-list .sponsor a:hover {
  border: none;
  text-decoration: none;
}
a {
  color: #29abe2;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid #29abe2;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "alternate-gothic-no-2-d", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  color: #29abe2;
}
p, ul, ol, blockquote {
  margin-bottom: 1em;
}
p.centered {
  text-align: center;
}
ul.dates {
  margin: 0;
  list-style: none;
}
ul.dates li {
  padding-bottom: 0.8em;
}
header {
  background-image: url('/img/ams-04.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  text-align: left;
  height: 42em;
  min-height: 42em;
}

/*background-color: #29abe2;*/

#brand {
  padding-top: 12em;
}
#brand #logo {
  margin: 0 auto;
  width: 12em;
  background-color: #fff;
  border: 1.2em solid #29abe2;
  border-radius: 50%;
  margin-bottom: 3em;
}
#brand #logo img {
  width: 12em;
  height: 12em;
}
#brand #title {
  margin: 0 auto;
  text-align: center;
}
#brand #title h1, #brand #title h1 a {
  font-size: 2.2em;
  color: #fff;
  border: none;
}
#brand #title #details {
  margin-top: 1em;
  font-size: 1.6em;
  line-height: 1.2em;
  color: #fff;
  border: none;
}
nav.main {
  font-family: "alternate-gothic-no-2-d", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}
nav.main ul li {
  display: inline-block;
  font-size: 2em;
  padding: 0;
}
nav.main ul li::before {
  content: "-";
  padding-left: 0.3em;
  padding-right: 0.3em;
}
nav.main ul li:first-child:before {
  content: "";
}

footer {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: #d9d9d9;
}

footer a {
  color: #a9a9a9;
}

footer a:hover {
  border: none;
}

section {
  margin-top: 4em;
  margin-bottom: 4em;
}

section h2 {
  font-size: 2.4em;
  line-height: 0.8em;
  margin-bottom: 0.4em;
}

section h3 {
  font-size: 1.8em;
  margin-top: 1em;
  color: #0e2b38;
}

section#sponsors h3 {
  margin-bottom: 1em;
}
.venue-zwijger {
  width: 100%;
  border-radius: 0.25em;
}
.sponsor img {
  width: 100%;
}
.btn {
  color: #ffffff;
  font-size: 15px;
  background: #29abe2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  border-radius: 0.25em;
  border: 0;
}
.btn-big {
  font-size: 24px;
  padding: 20px 40px 20px 40px;
}
.btn:hover {
  background: #0e2b38;
  text-decoration: none;
  border: 0;
}
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  display: inline;
  width: 100%;
}
.cf input {
  height: 1.8em;
  width: 78%;
  max-width: 13em;
  font-size: 1.4em;
  padding: 0.2em 0.5em;
}
.cf button {
  height: 2em;
  width: 6em;
  font-size: 1.3em;
}
.launchit {
  height: 100%;
  width: 100%;
  background-color: #28abe2;
}
.launchit .container {
  position: absolute;
  top: 0;
  right: 0.5em;
  bottom: 0;
  left: 0.5em;
  width: auto;
  text-align: center;
}
.launchit .conf-title {
  line-height: 1;
  height: 200px;
  padding: 0.25em 0;
  font-size: 4em;
}
.launchit .conf-title img {
  display: block;
  margin: 0 auto;
  height: 80%;
}
.launchit .conf-title a {
  color: #0e2b38;
  text-decoration: none;
}
.launchit .more-meta {
  margin: 0 auto;
  max-width: 30em;
}
#subscribe {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 0.7em;
}
.speaker-info {
  width: 30%;
  float: left;
  margin-right: 3%;
}
.speaker-avatar img {
  width: 100%;
  border-radius: 1em;
}
.speaker-details {
  margin-top: 1em;
  font-size: 82%;
  text-align: justify;
}
@media (max-width: 767px) {
  .container {
    width: 95%;
    margin: 0 0.5em;
  }
  header {
    height: 32em;
    min-height: 32em;
  }
  #brand {
    padding-top: 8em;
  }
  #brand #logo {
    margin: 0 auto;
    width: 8em;
    background-color: #fff;
    border: 0.8em solid #29abe2;
    border-radius: 50%;
    margin-bottom: 3em;
  }
  #brand #logo img {
    width: 8em;
    height: 8em;
  }
  #brand #title {
    margin: 0 auto;
    text-align: center;
  }
  #brand #title h1, #brand #title h1 a {
    font-size: 1.7em;
    color: #fff;
    border: none;
  }
  #brand #title #details {
    margin-top: 1em;
    font-size: 1.2em;
    color: #fff;
    border: none;
  }
  .map-container #venue-map {
    display: none;
  }
  .map-container #venue-container {
    position: static;
    width: 100%;
  }
  .map-container #venue-float {
    position: static;
    color: #ffffff;
    background-color: none;
    padding: 1.5em 0.5em;
  }
  .map-container #venue-float img {
    display: none;
  }
  #subscribe {
    font-size: 14px;
  }
  .cf input {
    display: block;
    width: 95%;
    max-width: 100%;
    font-size: 1em;
    padding: 0.2em;
    border: 1px solid #d9d9d9;
    height: 1.8em;
  }
  .cf button {
    display: block;
    height: 2.4em;
    margin: 0.8em auto;
    width: 75%;
    font-size: 1em;
  }
  .speaker-info {
    width: 95%;
    float: left;
    margin-right: 3%;
  }
  .speaker-avatar img {
    width: 100%;
    border-radius: 1em;
  }
  .speaker-details {
    font-size: 95%;
  }
}
.clear {
  clear: both;
}
