<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta content="RocketConf Launch Control" name="author">
  <meta content="RocketConf 2015 is a three-day single track conference for modern web developers on 11-13 November 2015 in Amsterdam, The Netherlands" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="RocketConf 2015, 11-13 November, Amsterdam The Netherlands" />
  <meta property="og:site_name" content="RocketConf 2015" />
  <meta property="og:url" content="http://www.rocketconf.eu" />
  <meta property="og:description" content="RocketConf 2015 is a three-day single track conference for modern web developers on 11-13 November 2015 in Amsterdam, The Netherlands">
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://www.rocketconf.eu/rocketconf-logo.png" />
  <link rel="image_src" href="http://www.rocketconf.eu/rocketconf-logo.png" />

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#29abe2">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#29abe2">

  <link href="/css/css.css" rel="stylesheet" type="text/css">
  <script src="//use.typekit.net/vxq2mtr.js"></script>
  <script>
  try {
      Typekit.load();
  } catch (e) {}
  </script>
</head>
<body>