<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=utf-8" http-equiv="content-type">
    <base href="http://localhost:1313/">
    <title>{{ .Site.Title }}</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="RocketConf Launch Control" name="author">
    <meta content="RocketConf 2015 is a Full Stack Ruby conference on 11-13 November 2015 in Amsterdam, The Netherlands" name="description">
    <script src="//use.typekit.net/vxq2mtr.js"></script>
    <script>
    try {
        Typekit.load();
    } catch (e) {}
    </script>
    <link href="/css/rocketconf.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div>
                <h1><a href="/"><img src="/img/rocketconf-logo.svg" alt="Rocket Conf logo">RocketConf</a></h1>
                <div class="meta">
                    11 – 13 November, 2015
                    <br /> Amsterdam, The Netherlands
                </div>
            </div>
        </div>
    </header>
    <nav class="main">
        <ul>
            <li><a href="#cpf">Call for Propsals</a></li>
            <li><a href="#tickets">Tickets</a></li>
            <li><a href="#speakesr">Speakers</a></li>
            <li><a href="#venue">Venue</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
        </ul>
    </nav>

