{{ partial "header.html" . }}

  <main>

    <section class="splash">
      <div class="stars"></div>
      <img src="/img/rocketconf-logo.svg" class="logo" alt="RockerConf Amsterdam 2015 spaceship logo">
      <div class="scroll-down">
        Scroll
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="-210 -28.5 857.1 857.1" enable-background="new -210 -28.5 857.1 857.1" xml:space="preserve">
        <path fill="#ffffff" d="M243.7,624.9L497,371.6c7.1-7.1,10.6-15.4,10.6-25.1s-3.5-18-10.6-25.1l-56.9-56.9c-7.1-7.1-15.4-10.6-25.1-10.6
          c-9.7,0-18,3.5-25.1,10.6L218.5,435.7L47.2,264.4c-7.1-7.1-15.4-10.6-25.1-10.6s-18,3.5-25.1,10.6l-56.9,56.9
          c-7.1,7.1-10.6,15.4-10.6,25.1s3.5,18,10.6,25.1l253.3,253.3c7.1,7.1,15.4,10.6,25.1,10.6S236.6,632,243.7,624.9L243.7,624.9z
           M647.1,400c0,77.7-19.2,149.5-57.5,215.1s-90.3,117.6-156,156c-65.7,38.3-137.4,57.5-215.1,57.5S69.1,809.4,3.4,771.1
          c-65.7-38.3-117.6-90.3-156-156S-210,477.8-210,400s19.2-149.5,57.5-215.1S-62.2,67.3,3.4,29s137.4-57.5,215.1-57.5
          S368-9.4,433.7,29s117.6,90.3,156,156S647.1,322.3,647.1,400L647.1,400z"/>
        </svg>
        down
      </div>
    </section>

    <section class="introduction">
      <article>

        <div class="who-what-where">
          <h1><img src="/img/rocketconf-icon.svg" alt="RocketConf spaceship logo"> RocketConf 2015</h1>
          <h2>A three-day single track conference for modern web developers</h2>
          <span>11, 12 and 13 November, 2015 &mdash; Amsterdam, The Netherlands</span>
        </div>

        <div class="welcome">
          <h2>Awesome! You’re here!</h2>
          <p>
              This November we will bring you <em>RocketConf</em>, a three-day
              developer conference for the modern web developer and dev ops who loves writing
              beautiful code and creating magnificent things that matter.
          </p>

          <p>
              RocketConf does not focus on any particual technology or tool. We believe that
              you can learn more from people with a different perspective. Technical topics can
              range from Ruby on Rails to Ember.js to Elixir to Docker and everything in between.
          </p>

          <p>
              To learn something well, you should get hands-on experience. On the 11th November
              we'll host workshops where you can get together with others and get a real
              learning experience by <em>doing</em> something fun.
              The 12th and 13th November are reserved for the conference talks.
          </p>
        </div>

      </article>
    </section>

    <section class="amsterdam">
      <blockquote>Talking tech in beautiful Amsterdam</blockquote>
    </section>

    <section class="speakers">
      <article class="clearfix">
        <h2>Speakers</h2>
        <p class="speakers-subtitle">More speakers will be announced in the coming months!</p>
        <ul>
          <li>
            <img src="/img/speakers/speaker-andre-kuipers.jpg" alt="Profile picture of Dr. André Kuipers">
            <h3>Dr. André Kuipers</h3>
            <h4>Astronaut & Ambassador of Earth</h4>
            <p>André Kuipers is the first Dutchman with two space missions to his name. He offers a unique look behind the scenes of international human spaceflight.</p>
          </li>
          <li>
            <img src="/img/speakers/speaker-corey-haines.jpg" alt="Profile picture of Corey Haines">
            <h3>Corey Haines</h3>
            <h4>Software Journeyman</h4>
            <p>Corey Haines is an author, speaker, teacher and all around groovy guy. While his true contribution to the world is an undying love of cats, he also co-created and led the evolution of the Coderetreat workshop.</p>
          </li>
          <li>
            <img src="/img/speakers/speaker-kevlin-henney.jpg" alt="Profile picture of Kevlin Henney">
            <h3>Kevlin Henney</h3>
            <h4>Consultant, speaker, writer and trainer</h4>
            <p>Kevlin is an independent consultant, speaker, writer and trainer. His development interests are in patterns, programming, practice and process. He has been a columnist for various magazines and web sites, and been involved in more committees than can be considered healthy.</p>
          </li>
          <li>
            <img src="/img/speakers/speaker-francesc-campoy.jpg" alt="Profile picture of Francesc Campoy">
            <h3>Francesc Campoy</h3>
            <h4>Go Developer Programs Engineer</h4>
            <p>Francesc Campoy joined the Go team in 2012 as Developer Programs Engineer. Since then, he has written some considerable didactic resources and traveled the world attending conferences and organizing live courses.</p>
          </li>
        </ul>

        <h2 id="call-for-proposals">Call for proposals</h2>

        <p>
            Besides the awesome keynote speakers, RocketConf offers you a stage to communicate your story to your peers. This is a unique opportunity to share and give back to the community.
        </p>
        <p>
            Please submit your proposal for a <em>talk</em> or <em>workshop</em> before <em>31 July 2015</em>. Do it today!
        </p>
        <p class="center-text">
          <a href="http://goo.gl/forms/onQ7gVWIhQ" class="button">Submit a proposal</a>
        </p>
        <p>
            In the light of our <a href="/code-of-conduct">Code of Conduct</a> we want to give everyone a fair chance of speaking at RocketConf. Submissions will be anonymized before being handed over to the programme team, who will make a selection based on the <em>content</em> of your proposal.
        </p>

      </article>
    </section>

    <section class="tickets">
      <article>
        <h2>Tickets</h2>

        <p>For the <em>early birds</em> we have a limited supply of tickets available at a discounted
        price. Early bird tickets will be available as long as the supply lasts until 30 June 2015.</p>

        <p class="center-text">
          <a href="https://ti.to/rocketconf-amsterdam/2015" class="button">Get your ticket now!</a>
        </p>

        <p>There are two types of tickets available to RocketConf 2015. The <em>Workshops + Conference</em>
        tickets will give you access to the workshops on 11 November <em>and</em> the two conference days.
        The <em>Conference</em> tickets will give you access to both conference days only.
        </p>
      </article>
    </section>

    <section class="venue">
      <h2>Venue</h2>
      <div class="venue-map"></div>
      <div class="venue-float">
        <h3>Pakhuis de Zwijger</h3>
        <img src="/img/pakhuis-de-zwijger.jpg" alt="Pakhuis de Zwijger, Amsterdamn">
        <p>
          Piet Heinkade 179
          <br>
          1019HC Amsterdam
          <br>
          The Netherlands
          <br>
          <a href="https://www.google.nl/maps/place/Pakhuis+De+Zwijger/@52.3730262,4.9049152,14z/data=!4m2!3m1!1s0x47c609a80e2c8a2f:0x2d9e404fc8f71f8d" target="_blank">View on maps &raquo;</a>
        </p>
      </div>
    </section>

    <section class="programme">
      <div class="programme-title">
        <h2>Programme</h2>
      </div>
      <article class="day day-one">
        <div class="inner">
          <div class="date"><span>11</span> nov</div>
          <h3>Workshops</h3>
          <p>A variety of workshop will be available to get some hands-on experience.</p>
        </div>
      </article>
      <article class="day day-two">
        <div class="inner">
          <div class="date"><span>12</span> nov</div>
          <h3>Conference</h3>
          <p>We are busy right now to confirm the keynote speakers.</p>
        </div>
      </article>
      <article class="day day-three">
        <div class="inner">
          <div class="date"><span>13</span> nov</div>
          <h3>Conference</h3>
          <p>We are busy right now to confirm the keynote speakers. But the call for proposals is open, so why
          not <a href="#call-for-proposals">submit your talk?</a>
        </div>
      </article>
    </section>

    <section class="code-of-conduct">
      <article>
        <h2>Code of Conduct</h2>
        <p>
             RocketConf is an inclusive conference. To us this is common sense, but we feel the need to explicitly tell
             our speakers, sponsors and participants where we stand on this topic in our
             <a href="/code-of-conduct">Code of Conduct</a>. Read it.
        </p>
        <p>
            We know you are awesome. See you at RocketConf!
        </p>
      </article>
    </section>

    <section class="contact">
      <article class="clearfix">
        <div>
          <h2>Stay updated</h2>
          <p>
            Want us to keep you up to date on new speakers, ticket sales and other important
            things? Follow <a href="https://twitter.com/RocketConf">@RocketConf</a> or subscribe
            to our mailinglist:

            <form action="http://newsletter.kabisa.nl/t/r/s/jjuisk/" method="post" id="subForm" class="cf">
                <input id="fieldEmail" name="cm-jjuisk-jjuisk" type="email" required placeholder="Subscribe for updates..." />
                <button class="button mailinglist-submit" type="submit">Subscribe</button>
            </form>
          </p>
        </div>
        <div>
          <h2>Contact</h2>
          <p>
            Got questions?
            <br><br>
            Send us an email:<br>
            <a href="mailto:launchcontrol@rocketconf.eu">launchcontrol@rocketconf.eu</a>
            <br><br>
            Tweet to us:<br>
          <a href="http://twitter.com/RocketConf">@RocketConf</a>
        </div>
      </article>
    </section>

    <section class="sponsors">
      <article>
        <h2>Sponsors</h2>
        <p>RocketConf would not be possible without the support of these <em>awesome</em> sponsors:</p>
        <ul class="clearfix">
          <li>
            <img src="/img/sponsors/kabisa.png" alt="Kabisa logo">
            <h4>Platinum sponsor</h4>
          </li>
        </ul>
        <p class="sponsor-rocketconf">Want to sponsor RocketConf? Cool! <a href="sponsorship.pdf" target="_blank">Read the folder</a> or <a href="mailto:launchcontrol@rocketconf.eu?subject=Sponsorship">get in touch</a>.</p>
      </article>
    </section>

  </main>

  <script>
    function debounce(func, wait, immediate) {
      var timeout;
      return function() {
        var context = this, args = arguments;
        var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    };
    var myEfficientFn = debounce(function() {
      var d = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) * 2,
          w = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
      if(w > d) {
        document.body.classList.add("arrow-up");
      } else {
        document.body.classList.remove("arrow-up");
      }
    }, 10);

    window.addEventListener('scroll', myEfficientFn);
  </script>

{{ partial "footer.html" . }}