{{ partial "header.html" . }}


<section id="venue">
    <div class="container">
        <h2>Venue - Pakhuis de Zwijger</h2>

        <div class="column">
            <img src="/img/pakhuis-de-zwijger.jpg" alt="Pakhuis de Zwijger, Amsterdamn" class="venue-zwijger">
        </div>

        <div class="column">
            <p>
                RocketConf is hosted by <strong>Pakhuis de Zwijger</strong> in Amsterdam,
                The Netherlands.
            </p>

            <p>
                <strong>Address</strong>
                <br />
                Piet Heinkade 179
                <br />
                1019 HC Amsterdam
                <br />
                <a href="https://www.google.com/maps/place/Pakhuis+De+Zwijger,+Piet+Heinkade+179,+1019+HC+Amsterdam,+Netherlands/@52.37667,4.922122,13z/data=!4m2!3m1!1s0x47c609a80e2c8a2f:0x2d9e404fc8f71f8d" target="_blank">View on Google Maps</a>
            </p>

            <p>
                <a href="http://www.dezwijger.nl/attachment/86926/">Download directions in PDF (provided by Pakhuis de Zwijger)</a>
            </p>
        </div>
    </div>
</section>

<section id="call-for-proposals">
    <div class="container">
        <h2>Share with us! Call for Proposals</h2>

        <div class="column">
            <p>
            RocketConf 2015 targets developers working with modern web development
            tools in the broad sense of the word. Ranging from front-end JavaScript
            to back-end infrastructure and everything in between.
            </p>

            <p>
            In the light of our Code of Conduct we want to give everyone a fair change
            of speaking at RocketConf 2015. Our programme team, making the speaker selection,
            will not have access to speaker details until they need to start contacting
            people.
            </p>
        </div>

        <div class="column">
            <p>
            Please submit your proposal for a <strong>talk</strong> or <strong>workshop</strong>
            before <strong>1 August 2015</strong>.
            </p>

            <p><a href="http://goo.gl/forms/onQ7gVWIhQ" class="btn">Submit a propsal</a></p>

            <ul>
                <li><strong>Workshops</strong> are on 11 November 2015 and can take anywhere
                    from 2-4 hours</li>
                <li><strong>Talks</strong> are on 12 and 13 November 2015 and can take
                    30 minutes and an additional 5-10 minutes of Q&A</li>
            </ul>
        </div>
    </div>
</section>

<section id="tickets">
    <div class="container">
        <h2>Tickets</h2>

        <p>Soon...</p>

    </div>
</section>

<section id="sponsors">
    <div class="container">
        <h2>Galaxy Sponsors</h2>

        <p><a href="http://kabisa.nl" class="sponsor"><img src="img/sponsors/kabisa.png"></a></p>

    </div>
</section>

{{ partial "footer.html" . }}
